.header-wrapper {
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 0 112px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 68px;
    .logo-wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
        cursor: pointer;
        .img {
            margin: 5px;
            width: 36px;
            height: 36px;
            background-image: url('./../../static/logo.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .text {
            color: #fff;
            font-style: italic;
            .top {
                line-height: 24px;
                font-size: 20px;
            }
            .bottom {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                line-height: 12px;
                font-size: 8px;
            }
        }
    }
    .search-wrapper {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .search {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 380px;
            height: 40px;
            border: 1px solid transparent;
            cursor: pointer;
            .input-hot {
                flex: 1;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-radius: 19px 0 0 19px;
                background-color: rgba(255, 255, 255, .2);
                .input {
                    flex: 1;
                    padding-left: 19px;
                    height: 40px;
                    background: none;
                    outline: none;
                    border: none;
                    color: #ffffff;
                    &:focus {
                        background: none;
                        border: none;
                    }
                }
                .hot {
                    margin: 0 10px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 13px;
                    color: #ff5c38;
                }
            }
            .button {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 40px;
                padding: 0 18px 0 10px;
                border-radius: 0 19px 19px 0;
                background-color: #ff5c38;
                color: #fff;
                .icon {
                    line-height: 38px;
                    font-size: 18px;
                }
                .text {
                    margin: 3px 0;
                    line-height: 40px;
                    font-size: 15px;
                }
            }
        }
    }
    .control-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        .item {
            margin: 10px;
            font-size: 30px;
            color: #f5f5f5;
            &:hover {
                color: #ffffff;
            }
        }
        .vip {
            color: #ffb821;
        }
        .user {
            margin: 10px;
            width: 36px;
            height: 36px;
            border-radius: 18px;
            background: #7f7f8c;
            background: url(./../../static/user.png) no-repeat;
            background-size: cover;
        }
    }
}